**TUGAS 2 PERTEMUAN 3**

NAMA : NUR AQILA APRILLIA

NIM : H071201088

PRODI : SISTEM INFORMASI

**1. Cara mengambil data dari kaggle (tanpa harus mendownload datanya terlebih dahulu)**

---



*   Menggunakan library OS

In [ ]:
import os
import pandas as pd



*   menyiapkan API dari kaggle, dengan membuka profil kaggle yang dimiliki

![1.PNG]()



*   Masukkan username dan key yang telah didaptkan dari API yang telah kita buat sebelumnya

In [ ]:
os.environ['KAGGLE_USERNAME'] = "nuraqilaaprillia"
os.environ['KAGGLE_KEY'] = "0915d23a16a36263a973695e0d889654"



*   Ambil link dari dataset yang diinginkan di kaggle 

![2.PNG]()



*   Lalu masukkan dalam syntax dibawah ini

In [ ]:
!kaggle datasets download -d nypl/whats-on-the-menu

Downloading whats-on-the-menu.zip to /content
 78% 27.0M/34.7M [00:00<00:00, 116MB/s]
100% 34.7M/34.7M [00:00<00:00, 137MB/s]

ekstraks hasil dowload dengan sytax berikut

In [ ]:
!unzip -q /content/whats-on-the-menu.zip

hasilnya dapat dilihat dengan menambahkan variable dan read.csv

In [ ]:
data = pd.read_csv("Dish.csv")
data

            id  ... highest_price
0            1  ...           0.4
1            2  ...           0.8
2            3  ...           0.4
3            4  ...           1.0
4            5  ...          18.0
...        ...  ...           ...
422034  514315  ...           0.0
422035  514316  ...           0.0
422036  514317  ...           0.0
422037  514318  ...           0.0
422038  514319  ...           0.0

[422039 rows x 9 columns]

**2. Mengambil data dari dokumen device masing-masing**


---

 

*   kita mengggunakan library google colabs untuk mengistal file (pilih choose file)

In [ ]:

from google.colab import files
uploaded = files.upload()

Saving movies.csv to movies.csv

* setelah filenya telah masuk dalam google colab, kita menggunakan library io.

In [ ]:
import io



*   ambil nama path dari data yang telah kita pilih lalu masukkan seprti syntax dibawah ini agar dapa terbaca oleh google colabs



*perhatikan untuk membaca suatu file harus melihat format file tersebut dan menyamakannya dengan metodenya pd.read_ *

In [ ]:
data1 = pd.read_csv(io.BytesIO(uploaded['movies.csv']))
data1

                                                name  ... runtime
0                                        The Shining  ...   146.0
1                                    The Blue Lagoon  ...   104.0
2     Star Wars: Episode V - The Empire Strikes Back  ...   124.0
3                                          Airplane!  ...    88.0
4                                         Caddyshack  ...    98.0
...                                              ...  ...     ...
7663                                    More to Life  ...    90.0
7664                                     Dream Round  ...    90.0
7665                                   Saving Mbango  ...     NaN
7666                                    It's Just Us  ...   120.0
7667                                       Tee em el  ...   102.0

[7668 rows x 15 columns]

**3. Mengambil data dari url**


---



*  disini saya menggunakan github untuk mengambil url dari suatu data, jika sudah menemukan data dari github, tekan **Raw** untuk mengambil url dari data tersebut
![Capture.PNG]()



*   setelah menekan raw, maka akan tampil halaman seperti ini. copy link data tersebut ![4.PNG]()



*   menggunakan library panda dan memasukkan url dari data tersebut

In [ ]:
data2 = pd.read_csv("https://raw.githubusercontent.com/Abdallah-Medhat/animals-classification/main/zoo.csv")
data2

    animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0      aardvark     1         0     0  ...     0         0        1           1
1      antelope     1         0     0  ...     1         0        1           1
2          bass     0         0     1  ...     1         0        0           4
3          bear     1         0     0  ...     0         0        1           1
4          boar     1         0     0  ...     1         0        1           1
..          ...   ...       ...   ...  ...   ...       ...      ...         ...
96      wallaby     1         0     0  ...     1         0        1           1
97         wasp     1         0     1  ...     0         0        0           6
98         wolf     1         0     0  ...     1         0        1           1
99         worm     0         0     1  ...     0         0        0           7
100        wren     0         1     1  ...     1         0        0           2

[101 rows x 18 columns]

**4. Mengambil data dari file json**

bentuk keluaran file ini berupa format json

---




*   menggunakan library json

In [ ]:
import json


*   pertama download file dengan format json, kemudian pilih menu bar seblah kanan

![1.PNG]()

* klik icon seperti gambar dibawah ini, lalu pilih file json yang telah anda download 

![2.PNG]()

* setelah nama file telah tampil seperti di bawah ini 

![5.PNG]()

* klik kanan pada file lalu copy path 

![6.PNG]()



*    path dari data tersebut lalu masukkan ke dalam sytax di bawah ini:

In [ ]:

f = open('/content/jobs.json',)
data3 = json.load(f)

In [ ]:
data3

{'195884': {'categories': ['.net',
   'elasticsearch',
   'rest',
   'sql-server',
   'entity-framework'],
  'query': 'visual studio 2015.txt',
  'title': '.NET Developer at Suzy (New York, NY)'},
 '204934': {'categories': ['.net', 'c#', 'javascript', 'sql', 'apache-spark'],
  'query': 'zend framework.txt',
  'title': 'Sr. Software Engineer (.Net) at Cheetah Digital (Cyberjaya, Malaysia)'},
 '200051': {'categories': ['c#',
   'asp.net',
   'angular',
   'angularjs',
   'machine-learning'],
  'query': 'windows server.txt',
  'title': 'Full-Stack .NET Developer at ThoughtTrace (Magnolia, TX)'},
 '205331': {'categories': ['java',
   'c#',
   '.net',
   'artificial-intelligence',
   'chatbot'],
  'query': 'xamarin test cloud.txt',
  'title': 'Software Engineer (Multi platform - Java/. Net) at Telstra (Melbourne, Australia)'},
 '171562': {'categories': ['c#', '.net', 'sql-server', 'wpf', 'asp.net'],
  'query': 'xamarin test cloud.txt',
  'title': 'Passionate .NET Developer at Hive Marketing Cloud (Bradley Stoke, UK)'},
 '131859': {'categories': ['c#',
   'azure',
   '.net',
   'sql-server',
   'elasticsearch'],
  'query': 'writing.txt',
  'title': 'Senior Developer (C# / .NET / Azure) at Neocles (Amsterdam, Netherlands)'},
 '202319': {'categories': ['bigdata', 'c#', '.net', 'sql-server'],
  'query': 'vps.txt',
  'title': '.NET utvecklare till SEB Investment Management at SEB Investment Management (Stockholm, Sweden)'},
 '143916': {'categories': ['c#', '.net'],
  'query': 'wpf.txt',
  'title': 'C# Software Developer FrontEnd (all genders welcome) at ROSEN Technology and Research Center GmbH (Lingen (Ems), Deutschland)'},
 '203765': {'categories': ['c#',
   '.net',
   'asp.net',
   'machine-learning',
   'azure'],
  'query': 'system center.txt',
  'title': 'Software Developer C# .NET (m/w/d) at IBM Client Innovation Center Germany GmbH (München, Deutschland)'},
 '206552': {'categories': ['c#', '.net', 'sql', 'oracle'],
  'query': 'zend framework.txt',
  'title': 'Software-Entwickler C# (m/w) at G+D Secure Data Management GmbH (Neustadt bei Coburg, Deutschland)'},
 '201438': {'categories': ['python-3.x', 'c++', '.net', 'c#'],
  'query': 'zend framework.txt',
  'title': 'Lead Software Engineer ML Infrastructure at UiPath (Bellevue, WA)'},
 '199120': {'categories': ['c#', '.net', 'design'],
  'query': 'zend framework.txt',
  'title': 'Software Engineer - Artificial Intelligence Core at Vodafone Italy (Milano, Italy)'},
 '204310': {'categories': ['c#',
   '.net',
   'amazon-web-services',
   'agile',
   'matlab'],
  'query': 'wicket 7.txt',
  'title': 'Lead Software Engineer at Omitron, Inc. (Greenbelt, MD)'},
 '204204': {'categories': ['.net-core',
   'asp.net',
   'angularjs',
   'javascript',
   'cloud'],
  'query': 'with.txt',
  'title': 'Web Development Manager - 112 year old business with the spark of a startup! at Winning Group (Waterloo, Australia)'},
 '206152': {'categories': ['c#', '.net', 'sql', 'javascript', 'angular'],
  'query': 'yarn.txt',
  'title': 'Software Engineer - C#, SQL, JavaScript : FinTech Data at FactSet (London, UK)'},
 '204278': {'categories': ['scrum', 'cloud', 'azure', '.net', 'ai'],
  'query': 'xamarin test cloud.txt',
  'title': 'Senior Cloud Software Developer at Cloudeon (Søborg, Denmark)'},
 '203721': {'categories': ['office-js', 'javascript', '.net', 'vsto', 'excel'],
  'query': 'zend framework.txt',
  'title': 'Senior Javascript Developer With VSTO / Office.js Experience at Macabacus (New York, NY)'},
 '171422': {'categories': ['c#', '.net', 'design'],
  'query': 'zoho crm.txt',
  'title': 'Business Systems Developer/Administrator at Altair (Troy, MI)'},
 '204926': {'categories': ['hadoop', '.net', 'java', 'sql', 'vba'],
  'query': 'wifi direct.txt',
  'title': 'Senior Software Developer at Canadian Security Intelligence Service (CSIS) (Ottawa, ON, Canada)'},
 '166789': {'categories': ['scala', 'hadoop', '.net', 'java'],
  'query': 'video streaming.txt',
  'title': 'Senior (Solution-) Software Projektleiter (m/w) at Deloitte Deutschland (Berlin, Germany)'},
 '203110': {'categories': ['.net',
   'typescript',
   'blockchain',
   'machine-learning',
   'angular'],
  'query': 'vagrant cloud.txt',
  'title': '(Senior) Software Engineer  R&D (m/w) at Lucht Probst Associates GmbH (LPA) (Frankfurt am Main, Deutschland)'},
 '194866': {'categories': ['c#',
   'automation',
   '.net',
   'software-design',
   'matlab'],
  'query': 'wireless.txt',
  'title': 'Software Engineer in Automation at Sonova AG (Warsaw, Poland)'},
 '204931': {'categories': ['.net',
   'java',
   'xml',
   'javascript',
   'sql',
   'sysadmin'],
  'query': 'xml.txt',
  'title': 'Information Technology Analyst at Canadian Security Intelligence Service (CSIS) (Ottawa, ON, Canada)'},
 '166045': {'categories': ['c++', 'javascript', 'sql', '.net', 'rpa'],
  'query': 'waterfall.txt',
  'title': 'RPA / Automation Process Analyst at EY Switzerland (Zürich, Switzerland)'},
 '183985': {'categories': ['c#', '.net', 'wpf', 'azure', 'sql'],
  'query': 'wpf.txt',
  'title': 'C# SQL Analyst Developer at Hays London City Cheapside (London, UK)'},
 '200052': {'categories': ['scikit-learn',
   'python',
   'machine-learning',
   'r',
   'statistics'],
  'query': 'writing.txt',
  'title': 'Data Scientist - Keeping the humanity in AI at Diveplane Corporation (Raleigh, NC)'},
 '196670': {'categories': ['hadoop',
   'amazon-web-services',
   'apache-spark',
   'hive',
   'etl',
   'sysadmin'],
  'query': 'windows server 2012.txt',
  'title': 'Big Data Engineer in E-commerce at YOOX NET-A-PORTER GROUP (Bologna, Italy)'},
 '206706': {'categories': ['java', 'python', 'sql'],
  'query': 'xslt 2.0.txt',
  'title': 'Senior Software Engineer  Data Services (Java) at JP Morgan Chase (Jersey City, NJ)'},
 '118637': {'categories': ['c#',
   'postgresql',
   'elasticsearch',
   'redis',
   'rabbitmq'],
  'query': 'wechat api.txt',
  'title': 'Back-End C# Developer at Dynamic Signal (Bellevue, WA)'},
 '163093': {'categories': ['java',
   'c#',
   'spring',
   'elasticsearch',
   'angularjs'],
  'query': 'web analytics.txt',
  'title': 'Software Developer at UNISERV (Pforzheim, Deutschland)'},
 '206038': {'categories': ['java', 'python', 'sql'],
  'query': 'zookeeper.txt',
  'title': 'Big Data Software Engineer Lead at JP Morgan Chase (Jersey City, NJ)'},
 '206796': {'categories': ['machine-learning', 'python', 'spark', 'scala'],
  'query': 'web analytics.txt',
  'title': 'Data Science Engineers at dunnhumby Ltd. (Gurugram, India) (allows remote)'},
 '203656': {'categories': ['php', 'symfony', 'reactjs', 'java'],
  'query': 'xamarin test cloud.txt',
  'title': 'Senior PHP Developer - Come and help us beat cancer! at Cancer Research UK (London, UK)'},
 '148168': {'categories': ['c#',
   'scala',
   'reactjs',
   'microservices',
   'parallel-processing'],
  'query': 'zen rails base application.txt',
  'title': 'Application Developer (C# and JS) - Big Data at The Quantium Group (Sydney, Australia)'},
 '198525': {'categories': ['amazon-web-services',
   'cloud',
   'lambda',
   'nosql',
   'javascript'],
  'query': 'xamarin test cloud.txt',
  'title': 'Full Stack Cloud Developer at Ai-Media (North Sydney, Australia)'},
 '193678': {'categories': ['c#-4.0', 'sql-server', 'mvvm', 'wpf', 'excel-vba'],
  'query': 'x++.txt',
  'title': 'C# Developer at Trailstone GmbH (Berlin, Germany)'},
 '207016': {'categories': ['mysql',
   'json',
   'mongodb',
   'xml',
   'sql-server',
   'sysadmin'],
  'query': 'xml.txt',
  'title': 'Data Architect at NextCapital (Chicago, IL)'},
 '165051': {'categories': ['computer-vision',
   'machine-learning',
   'c#',
   'image-processing',
   'c++'],
  'query': 'zen rails base application.txt',
  'title': 'Machine vision application engineer at The Imaging Source Europe GmbH (Bremen, Germany)'},
 '198470': {'categories': ['c#', 'aws', 'iot', 'elasticsearch'],
  'query': 'xml.txt',
  'title': 'Software Engineer (IoT) at Genesis10 (Eden Prairie, MN)'},
 '194554': {'categories': ['amazon-web-services',
   'node.js',
   'ruby',
   'hadoop',
   'c#'],
  'query': 'web-applications.txt',
  'title': 'Software Architect - Consumer Platform at careerbuilder (Norcross, GA)'},
 '185432': {'categories': ['agile', 'apache', 'c#', 'hadoop', 'java'],
  'query': 'windows.txt',
  'title': 'Software Engineers (various roles) at Viavi Solutions UK Ltd (Newbury, UK)'},
 '194073': {'categories': ['python', 'c++', 'sql', 'c', 'linux'],
  'query': 'visual studio 2013.txt',
  'title': 'Utvecklare - Machine Learning at Neodev (Malmö, Sweden)'},
 '204628': {'categories': ['sql',
   'oracle',
   'crm',
   'bpm',
   'data-warehouse',
   'sysadmin'],
  'query': 'zoho crm.txt',
  'title': 'IT-Servicemanager/in (m/w) at next id GmbH (Bonn, Deutschland)'},
 '171271': {'categories': ['python',
   'nltk',
   'scikit-learn',
   'keras',
   'tensorflow'],
  'query': 'zen rails base application.txt',
  'title': 'NLP Specialist at Sphere (London, UK)'},
 '160945': {'categories': ['ruby-on-rails',
   'javascript',
   'go',
   'elasticsearch',
   'postgresql'],
  'query': 'zend framework.txt',
  'title': 'Senior Software Engineer (RoR in Renewable Energy!) at Ampion (Boston, MA)'},
 '200577': {'categories': ['selenium',
   'automated-tests',
   'selenium-webdriver',
   'artificial-intelligence'],
  'query': 'zen rails base application.txt',
  'title': 'QA Lead - AI Products at Rakuten (Setagaya, Japan)'},
 '204606': {'categories': ['sql',
   'sql-server',
   'data-warehouse',
   'business-intelligence'],
  'query': 'web starter kit.txt',
  'title': 'Senior Business Intelligence Software Developer at Keona Health () (allows remote)'},
 '202161': {'categories': ['node.js',
   'reactjs',
   'postgresql',
   'typescript',
   'lambda'],
  'query': 'zen rails base application.txt',
  'title': 'Data Engineer for a real estate app at Allthings (Freiburg, Germany)'},
 '198692': {'categories': ['ssis',
   'sql-server',
   'reporting-services',
   'data-warehouse',
   'python'],
  'query': 'windows server.txt',
  'title': 'Senior SSIS Developer/Data Engineer - 33Bn Asset Manager at Intermediate Capital Group (Leeds, UK)'},
 '200766': {'categories': ['c#',
   'asp.net',
   'asp.net-mvc',
   'webforms',
   'angular'],
  'query': 'zend framework.txt',
  'title': 'Programmer Analyst at AultCare Corporation (Canton, OH)'},
 '184364': {'categories': ['elasticsearch',
   'angular',
   'c#',
   'sql-server',
   'javascript'],
  'query': 'wicket 7.txt',
  'title': 'Full-Stack Software Developer at Verify Brand (Plymouth, MN)'},
 '194487': {'categories': ['mongodb',
   'elasticsearch',
   'angularjs',
   'javascript',
   'c#'],
  'query': 'windows server 2008.txt',
  'title': 'Mid-Senior Full Stack Developer at Vertmarkets Inc. (Horsham, PA)'},
 '199333': {'categories': ['spring',
   'spring-mvc',
   'java',
   'javascript',
   'machine-learning'],
  'query': 'visualization.txt',
  'title': 'Passionate Java Developer looking to make an impact at Polaris Alpha (Colorado Springs, CO)'},
 '159231': {'categories': ['postgresql',
   'go',
   'cassandra',
   'docker',
   'node.js'],
  'query': 'xslt 1.0.txt',
  'title': 'Platform Engineer - Backend, Data Pipeline at Meshify, Inc. (Austin, TX)'},
 '207325': {'categories': ['ruby', 'artificial-intelligence', 'cloud'],
  'query': 'xamarin test cloud.txt',
  'title': 'Join the TechTeam of the future! at Acando (Göteborg, Sweden)'},
 '206448': {'categories': ['data-warehouse',
   'nosql',
   'sql',
   'oracle11g',
   'hadoop'],
  'query': 'websphere 8.txt',
  'title': 'Data Architect at DAT Solutions (Beaverton, OR)'},
 '203447': {'categories': ['machine-learning', 'algorithm', 'ruby-on-rails'],
  'query': 'zen rails base application.txt',
  'title': 'Senior Machine Learning Engineer - Recommendation Systems at WeWork (New York, NY)'},
 '207326': {'categories': ['rubymotion', 'cloud', 'artificial-intelligence'],
  'query': 'xamarin test cloud.txt',
  'title': 'Bli en del av framtidens teknikteam! at Acando (Göteborg, Sweden)'},
 '204908': {'categories': ['security', 'testing'],
  'query': 'yoga.txt',
  'title': 'Security Testing Engineer/Security Analyst at EPAM Systems (Saint Petersburg, Russia)'},
 '204847': {'categories': ['qa',
   'testing',
   'software-quality',
   'analysis',
   'validation'],
  'query': 'xamarin test cloud.txt',
  'title': 'QA Analyst at Red Rock Tech Solutions, LLC (Colorado Springs, CO)'},
 '199944': {'categories': ['security', 'cloud', 'saas', 'java'],
  'query': 'xamarin test cloud.txt',
  'title': 'Sr. Security Analyst at Accela (San Ramon, CA)'},
 '198278': {'categories': ['python',
   'machine-learning',
   'pyspark',
   'data-science'],
  'query': 'treasure data.txt',
  'title': 'Advanced Data Analyst / Data Scientist at Coolblue (Rotterdam, Netherlands)'},
 '198279': {'categories': ['python',
   'machine-learning',
   'pyspark',
   'data-science'],
  'query': 'treasure data.txt',
  'title': 'Advanced Data Analyst / Data Scientist at Coolblue (Rotterdam, Netherlands)'},
 '198265': {'categories': ['c#', 'webgl', 'three.js', 'd3.js', 'opengl'],
  'query': 'windows server.txt',
  'title': '2d & 3d Graphics Software Developer at MapLarge (Atlanta, GA) (allows remote)'},
 '196720': {'categories': ['java',
   'kotlin',
   'elasticsearch',
   'graphql',
   'git'],
  'query': 'zoom.txt',
  'title': 'Senior Full-Stack Java/Kotlin Developer at reDock (Montreal, QC, Canada)'},
 '200931': {'categories': ['hadoop', 'etl', 'sql'],
  'query': 'version control.txt',
  'title': 'Eng 4, Software Dev & Engineering at Comcast (West Chester, PA)'},
 '205210': {'categories': ['sql', 'python', 'ssis', 'sysadmin'],
  'query': 'wifi direct.txt',
  'title': 'Sr. Data Architect at Philip Morris International (Neuchâtel, Switzerland) (allows remote)'},
 '201822': {'categories': ['agile', 'devops', 'nlp', 'rpa', 'ml'],
  'query': 'xml.txt',
  'title': 'Robotic Process Automation Engineer at Capital One (Richmond, VA)'},
 '202588': {'categories': ['python',
   'linux',
   'machine-learning',
   'gpu',
   'keras'],
  'query': 'white box.txt',
  'title': 'Data Scientist at Nearmap (Barangaroo, Australia)'},
 '202619': {'categories': ['security', 'agile'],
  'query': 'virgil security.txt',
  'title': 'Security Analyst (m/w/x) for agile software development at CORE (Berlin, Deutschland)'},
 '207354': {'categories': ['java', 'python', 'c++'],
  'query': 'working copy.txt',
  'title': 'Core ML : Server Engineer in Machine Learning at Apple Inc. (Cupertino, CA)'},
 '191001': {'categories': ['java',
   'machine-learning',
   'docker',
   'kotlin',
   'bamboo'],
  'query': 'working copy.txt',
  'title': 'Backend Developer (Java) (m/f) - High Availability Core Technology (Hamburg) at mytaxi (Intelligent Apps GmbH) (Hamburg, Germany)'},
 '202670': {'categories': ['c#', 'model-view-controller', 'xamarin'],
  'query': 'xamarin test cloud.txt',
  'title': 'Senior Full Stack Developer - Architect at Well Data Labs (Denver, CO)'},
 '200549': {'categories': ['python', 'data-science', 'machine-learning'],
  'query': 'windows 10.txt',
  'title': 'Senior Machine Learning Researcher at Longshot Systems Ltd (London, UK)'},
 '173255': {'categories': ['javascript',
   'go',
   'reactjs',
   'apache-kafka',
   'hbase'],
  'query': 'zen rails base application.txt',
  'title': 'Software Engineer, Web / Data at ARISTA NETWORKS (Austin, TX)'},
 '159863': {'categories': ['python-3.x',
   'numpy',
   'pandas',
   'functional-programming',
   'flask'],
  'query': 'writing.txt',
  'title': 'Advanced Python Engineer at Research Affiliates (Investment Systems) (Newport Beach, CA)'},
 '204910': {'categories': ['java',
   'python',
   'hadoop',
   'bigdata',
   'microservices'],
  'query': 'working copy.txt',
  'title': 'Principal Data Architect at Eagle Investment Systems (Wellesley, MA)'},
 '206587': {'categories': ['amazon-web-services',
   'mysql',
   'etl',
   'reporting',
   'validation'],
  'query': 'workflow.txt',
  'title': 'Senior Data Engineer -- Do Good. Do Well. Have Fun Doing It. at LiteracyPro Systems, Inc. (Boulder, CO)'},
 '206176': {'categories': ['startup',
   'computer-vision',
   'arkit',
   'ar',
   'mobile'],
  'query': 'zen rails base application.txt',
  'title': 'Senior iOS Engineer at Geomagical Labs (Mountain View, CA)'},
 '166828': {'categories': ['amazon-web-services',
   'apache-spark',
   'python',
   'java',
   'scala'],
  'query': 'zend framework.txt',
  'title': 'Data Platform Engineer - Protect the Internet at White Ops (New York, NY)'},
 '154735': {'categories': ['go',
   'cassandra',
   'distributed-computing',
   'java',
   'amazon-web-services'],
  'query': 'writing.txt',
  'title': 'Data Engineer / Big Data / java / python / streaming / cloudera / spark / events at Sixt GmbH & Co. Autovermietung KG (München, Deutschland)'},
 '208102': {'categories': ['python',
   'etl',
   'amazon-web-services',
   'docker',
   'sql'],
  'query': 'working copy.txt',
  'title': 'Senior Data Engineer at Datawallet (Berlin, Germany)'},
 '207192': {'categories': ['java', 'sql', 'machine-learning', 'hadoop'],
  'query': 'wifi direct.txt',
  'title': 'Lead Data Engineer at Discover (West Valley City, UT)'},
 '207900': {'categories': ['reactjs',
   'typescript',
   'd3.js',
   'ecmascript-6',
   'redux-observable'],
  'query': 'zend framework.txt',
  'title': 'Senior Frontend Engineer | Data Science Platform at Contiamo (Berlin, Germany)'},
 '197120': {'categories': ['ruby-on-rails',
   'postgresql',
   'python',
   'amazon-s3',
   'hive'],
  'query': 'zend framework.txt',
  'title': 'Data Engineer at HomeLight (San Francisco, CA)'},
 '199345': {'categories': ['hadoop', 'linux', 'bigdata', 'python', 'hiveql'],
  'query': 'zen rails base application.txt',
  'title': 'Lead Big Data Developer at CenturyLink (Broomfield, CO)'},
 '203043': {'categories': ['c#',
   'asp.net',
   'entity-framework',
   'webforms',
   'sql-server'],
  'query': 'web technologies.txt',
  'title': 'ASP.Net / C# Developer at Spark Development Network (Sun City, AZ)'},
 '204489': {'categories': ['hadoop', 'apache-spark', 'etl'],
  'query': 'zend framework.txt',
  'title': 'Big Data Developer at EPAM Systems (San Francisco, CA)'},
 '204279': {'categories': ['python', 'sql', 'snowflake-datawarehouse', 'etl'],
  'query': 'visualization.txt',
  'title': 'Senior Data Engineer at CarGurus (Cambridge, MA)'},
 '201782': {'categories': ['python', 'sql', 'pandas', 'numpy', 'scipy'],
  'query': 'writing.txt',
  'title': 'Data Scientist at EPAM Systems (San Francisco, CA)'},
 '204280': {'categories': ['java',
   'algorithm',
   'machine-learning',
   'real-time'],
  'query': 'windows 10.txt',
  'title': 'Lead Software Engineer, Programmatic Advertising at CarGurus (Cambridge, MA)'},
 '201634': {'categories': ['java', 'python', 'r', 'machine-learning', 'scala'],
  'query': 'visual studio code.txt',
  'title': 'Big Data/Data Science Engineer at EPAM Systems (Bloomfield, CT)'},
 '200542': {'categories': ['java', 'python', 'data', 'docker', 'kubernetes'],
  'query': 'workflow.txt',
  'title': 'Developer- Data Infrastructure Engineering at Akuna Capital (Chicago, IL)'},
 '208124': {'categories': ['python', 'java', 'cloud', 'statistics', 'scala'],
  'query': 'writing.txt',
  'title': 'Backend Engineer (Scala, Python, Go) at LeadIQ (Singapore)'},
 '208014': {'categories': ['machine-learning', 'algorithm', 'java'],
  'query': 'writing.txt',
  'title': 'Sr Software Developer - High Volume Decisioning at Spotfront (New York, NY)'},
 '198628': {'categories': ['sql',
   'python',
   'airflow',
   'amazon-redshift',
   'pandas'],
  'query': 'workflow.txt',
  'title': 'Senior Analytics Engineer at Roman (New York, NY)'},
 '207914': {'categories': ['node.js',
   'cloud',
   'amazon-web-services',
   'elasticsearch',
   'postgresql'],
  'query': 'xamarin test cloud.txt',
  'title': 'Senior Backend Developer Node JS at Cision ImageIQ (Berlin, Germany)'},
 '201783': {'categories': ['tdd', 'sql', 'ruby', 'git', 'java'],

**5. Mengambil data dengan package yang belum tersedia**

---

kasus : format data tersebut tidak tersedia librarynya secara langsung



*   pertama download file dengan format sav, kemudian pilih menu bar sebelah kanan

![1.PNG]()

* klik icon seperti gambar dibawah ini, lalu pilih file json yang telah anda download 

![2.PNG]()

* setelah nama file telah tampil seperti di bawah ini 

![3.PNG]()

* klik kanan pada file lalu copy path




![4.PNG]()



*   Install manual librarynya terlebih dahulu 
penginstalan dilakukan hanya sekali jika tidak menggunakan cloud

In [ ]:
pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.1.2-cp37-cp37m-manylinux2014_x86_64.whl (2.5 MB)
     |████████████████████████████████| 2.5 MB 2.6 MB/s
Requirement already satisfied: pandas>0.24.0 in /usr/local/lib/python3.7/dist-packages (from pyreadstat) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadstat) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadstat) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>0.24.0->pyreadstat) (1.15.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.1.2



*   lalu import library yang telah kita install dengan sytax di bawah ini :

In [ ]:
import pyreadstat

* buat sebuah variable, lalu copy path seperti syntax di bawah ini

In [ ]:

df_loan, meta = pyreadstat.read_sav('/content/loan_roc.sav')

* print untuk melihat data tersebut

In [ ]:
df_loan

     age  education  year_emp  income  ...  PGR_1  Dis_1    Dis1_1   Discrim
0   47.0        1.0      22.0    81.0  ...    0.0    0.0  0.988438  0.011562
1   40.0        1.0      22.0    95.0  ...    0.0    0.0  0.973334  0.026666
2   35.0        1.0      16.0    36.0  ...    0.0    0.0  0.988864  0.011136
3   43.0        1.0      16.0    89.0  ...    0.0    0.0  0.974100  0.025900
4   47.0        1.0      26.0   100.0  ...    0.0    0.0  0.931966  0.068034
..   ...        ...       ...     ...  ...    ...    ...       ...       ...
95  28.0        3.0       6.0    47.0  ...    1.0    1.0  0.041077  0.958923
96  34.0        1.0      12.0    68.0  ...    1.0    1.0  0.053560  0.946440
97  23.0        2.0       0.0    17.0  ...    1.0    1.0  0.022267  0.977733
98  35.0        2.0      11.0    62.0  ...    1.0    1.0  0.009707  0.990293
99  33.0        1.0      14.0    72.0  ...    1.0    1.0  0.000924  0.999076

[100 rows x 13 columns]

# **fungsi pengubahan data dengan dari sav ke spss ini adalah agar nilai yang di ringkas dalam sav dapat terlihat jelas maksud dari ringkasan suatu nilai **

* untuk melihat file dengan format spssnya, buat variable baru, lalu copy path tersebut lalu masukkan ke dalam syntax seperti dibawah ini

In [ ]:
df_sul1 = pd.read_spss("/content/loan_roc.sav")

* print untuk melihat data tersebut

In [ ]:
df_sul1

     age                     education  year_emp  ...  Dis_1    Dis1_1   Discrim
0   47.0  Did not complete high school      22.0  ...     No  0.988438  0.011562
1   40.0  Did not complete high school      22.0  ...     No  0.973334  0.026666
2   35.0  Did not complete high school      16.0  ...     No  0.988864  0.011136
3   43.0  Did not complete high school      16.0  ...     No  0.974100  0.025900
4   47.0  Did not complete high school      26.0  ...     No  0.931966  0.068034
..   ...                           ...       ...  ...    ...       ...       ...
95  28.0                  Some college       6.0  ...    Yes  0.041077  0.958923
96  34.0  Did not complete high school      12.0  ...    Yes  0.053560  0.946440
97  23.0            High school degree       0.0  ...    Yes  0.022267  0.977733
98  35.0            High school degree      11.0  ...    Yes  0.009707  0.990293
99  33.0  Did not complete high school      14.0  ...    Yes  0.000924  0.999076

[100 rows x 13 columns]